---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="blog">
  <div style="margin-bottom: 0.5rem;">
    <span style="color: var(--green);">[guest@terminal-blog]</span>
    <span style="color: var(--dim);"> ~ $ </span>
    <span>ls -la /blog</span>
  </div>

  <p style="margin-bottom: 1rem; color: var(--dim);">total 1</p>

  <ul class="post-list">
    <li class="post-item">
      <div>
        <span style="color: var(--dim);">-rw-r--r--</span>
        <span style="color: var(--yellow); margin-left: 1rem;">1</span>
        <span style="color: var(--dim); margin-left: 1rem;">guest</span>
        <span style="color: var(--dim); margin-left: 1rem;">guest</span>
        <span style="color: var(--dim); margin-left: 1rem;">1.2K</span>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: baseline; width: 100%;">
        <a class="post-title" href="/blog/hello-world" style="margin-left: 0.5rem;">hello-world.md</a>
        <span class="post-date">Apr 28 21:42</span>
      </div>
    </li>
  </ul>
</Layout>
